:root {
    --main-color: #F5F5F5;
    --nav-bar-color: #FFFFFF;
    --second-color: #2F303A;
    --team-section-color: #F5F4FA;
    --first-logo-color: #2196F3;
    --second-logo-color: #000000;
    --main-text-color: #212121;
    --descriprion-color: #757575;
    --basement-contakts-color: #FFFFFF99;
}

/*Global_styles*/

body {
    background: var(--main-color);
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}
/*Navigation-bar*/

.nav-bar {
    background: var(--nav-bar-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/*Logo*/

.logo {
    color: var(--first-logo-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.second-logo {
    color: var(--second-logo-color);
}

/*Navigation_links*/

.nav-link {
    color: inherit;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--first-logo-color);
}

/*Contacts*/

.contacts-nav {
    color: var(--descriprion-color);
}

.contacts-nav:hover,
.contacts-nav:focus {
    color: var(--first-logo-color);
}

/*Face*/

.face {
    background: var(--second-color);
    color: var(--nav-bar-color);
}

.face-header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.order-button {
    background: var(--first-logo-color);
    color: inherit;
    border-style: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
}

/*Features*/

.features h2 {
    color: var(--main-color);
}

.features h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features p {
    color: var(--descriprion-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/*Activities gallery*/

.activities h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

/*Team_section*/

.team {
    background: var(--team-section-color);
}

.team h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.team li {
    background: var(--nav-bar-color);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.team h3 {
    font-weight: 500;
}

.team p {
    font-weight: 400;
    color: var(--descriprion-color);
}

/*Basement*/

.basement {
    background: var(--second-color);
}

/*Basement_logo*/

.basement-logo {
    color: var(--nav-bar-color);
}

/*Basement_contacts*/

.basement-contacts {
    font-style: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.basement-contacts .link {
    color: var(--basement-contakts-color);
}

.basement-contacts .link:hover,
.basement-contacts .link:focus {
    color: var(--nav-bar-color);
}

/*PORTFOLIO_PAGE_STYLES*/

/*Filters*/

.filt-but {
    background: var(--team-section-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    border-style: none;
}

.filt-but:hover,
.filt-but:focus {
    background: var(--first-logo-color);
    color: var(--nav-bar-color);
}

.filters h2,
.projects h2 {
    color: var(--main-color);
}

