:root {
    --main-text-color: #212121;
    --description-color: #757575;
    --main-bg-color: #FFFFFF;
    --first-logo-color: #2196F3;
    --second-logo-color: #000000;
    --second-bg-color: #2F303A;
    --nav-bar-shadow: #ECECEC;
    --third-bg-color: #F5F4FA;
}

/*General_styles*/

body {
    background-color: var(--main-bg-color);
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
}

.list {
    list-style-type: none;
}

.list a {
    text-decoration: none;
}

/*Navigation_bar*/

.nav-bar {
    background: var(--main-bg-color);
    
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--first-logo-color);
    text-decoration: inherit;
}

.second-logo {
    color:  var(--second-logo-color);
}