:root {
    --main-text-color: #212121;
    --description-color: #757575;
    --main-bg-color: #FFFFFF;
    --first-logo-color: #2196F3;
    --second-logo-color: #000000;
    --second-bg-color: #2F303A;
    --nav-bar-shadow: #ECECEC;
    --third-bg-color: #F5F4FA;
}
